<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  Angular Material 2 App
</mat-toolbar>
<div class="basic-container">
  <div>
    YEAR PICKER:
    <app-custom-datepicker  mode="YEAR" label="Choose a year" [(ngModel)]="chosenYearDate" [max]="2020"></app-custom-datepicker><br>
    {{chosenYearDate}}
  </div>
  <div>
    MONTH PICKER:
    <app-custom-datepicker *ngIf="visible" mode="MONTH" label="Choose a month" touchUi="true" [formControl]="monthInputCtrl"
                            [max]="'3/2020'"></app-custom-datepicker><br>
    {{monthInputCtrl.value}}
  </div>
  <div>
    SEMESTER PICKER:
    <app-custom-datepicker mode="SEMESTER" label="Start of semester" [(ngModel)]="chosenSemesterDate"
                            [max]="'3/2020'"></app-custom-datepicker>
    <br>
    {{chosenSemesterDate}}
  </div>
  <div>
    DAY PICKER:
    <app-custom-datepicker label="Choose a date" [(ngModel)]="chosenDate"></app-custom-datepicker><br>
    {{chosenDate}}
  </div>
  <div>
    WEEK PICKER:
    <app-custom-datepicker mode="WEEK" label="Choose a week" touchUi="true" [(ngModel)]="chosenWeekDate"></app-custom-datepicker><br>
    {{chosenWeekDate}}
  </div>
  <button (click)="visible=!visible">Click to hide</button>
</div>

<router-outlet></router-outlet>

<!--
Copyright Google LLC All Rights Reserved.

Use of this source code is governed by an MIT-style license that can be
found in the LICENSE file at https://angular.io/license
-->
